.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    align-items: flex-start;
    /* Align buttons to the left */
    margin-right: 20px;
    /* Add space between sidebar and main content */
}

.sidebar-buttons button {
    border: 1px solid #000;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    /* idk why need to indicate font everywhr...app.css doesnt work?? */
    text-align: center;
}

.lessons {
    flex-grow: 1;
    text-align: center;
}

.lesson-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson-item {
    border: 1px solid #000;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 400px;
    /* NOT SURE IF TOO BIG */
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    /* CHANGE IF TOO BIG/SMALL */
    font-family: 'Poppins', sans-serif;
}

.lesson-item.start {
    background-color: lightseagreen;
}

.lesson-item.locked {
    background-color: grey;
}