.profile {
  text-align: center;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  /* buttons vertically stacked */
  align-items: center;
}

.profile-buttons button {
  border: 1px solid #000;
  background: #fff;
  padding: 8px 16px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 150px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}